/******************************
           VARS
******************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$primary-font: rgba(40, 40, 50, 1);
$primary-brand: #006fff;
$secondary-brand: #05c1e3;
#call-to-action: #ffd252;

$dark-bg: #444;
$med-bg: #777;
$light-bg: #eee;

$sans: "Open Sans", sans-serif;
$font-weight-light: 300;
$font-weight-reg: 400;
$font-weight-med: 600;
$font-weight-bold: 700;

$base-line: 24px;
$base-size: 16px;