
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
*{
   margin: 0;
   padding: 0;   
}

@font-face{
   font-family: headingFont;
   src: url("Patua One and Oswald/patuaone/PatuaOne-Regular.ttf");
   font-stretch: ultra-expanded;
}

@font-face{
   font-family: bodyFont;
   src: url("Patua One and Oswald/oswald/Oswald-Light.ttf");
}

body{
   font-family: bodyFont;
}

header,
h1,
h2,
h3,
button{
   font-family: headingFont;
}

/*////////////////////////////////////////header and nav//////////////////////////////*/

header{
   width: 100%;
   background-color: rgba(26,3,21,0.85);
   position: fixed;
   z-index: 10;
   height: 70px;
   line-height: 70px;
}

header img{
   margin-left: 10px;
   width: 300px;
}

header nav{
   float: right;
}

header nav ul{
   margin: 0;
}

header nav ul li{
   display: inline-block;
}

header nav ul li a{
   color: white;
   text-decoration: none;
   list-style-type: none;
   line-height: 70px;
   display: block;
   padding: 0px 15px;
   font-size: 1.2em;
}

/*////////////////////////////////////////intro section//////////////////////////////*/

.introSection,
.moreInfoSection,
.teamIntro,
.contact{
   width: 100%;
   position: relative;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
   display: inline;
   float: left;
   margin: 5px;
   padding: 0;
   text-align: left;
}

.designBanner,
.buildBanner,
.competeBanner,
.this,
.motorsports{
   background-color: rgba(26,3,21,0.85);
   color: white;
   position: absolute;
}

.introSection .designBanner{
   top: 25%;
   right: 0%;
   padding: 2px 0px 2px 30px;
}

.introSection .buildBanner{
   top: 37%;
   right: 0%;
   padding: 2px 0px 2px 30px;
}

.introSection .competeBanner{
   top: 49%;
   right: 0%;
   padding: 2px 0px 2px 30px;
}

.introSection .this{
   top: 70%;
   padding: 5px 0px 5px 30px;
}

.introSection .motorsports{
   top: 80%;
   color: #88d317;
   padding: 5px 0px 5px 30px;
}

/*////////////////////////////////////////storySection/////////////////////////*/

.ourStorySection{
   background-color: rgba(26,3,21,0.85);
   color: white;
   line-height: 40px;
   width: 100%;
}

.ourStorySection h3, h4{
   margin: 0px;
}

.ourStorySection h3{
   text-align: center;
   font-size: 1.5em;
}

.ourStorySection h4{
   padding: 20px 150px;
}

.strong{
   color: #88d317;
}
/*////////////////////////////////////////aboutSection///////////////////////////////*/

.aboutSection{
   background-color: #6e3667;
   color: white;
   line-height: 40px;
   width: 100%;
}

.aboutSection img{
   width: 100%;
}

.aboutSection h1{
   margin: 20px auto;
   margin-left: 30px;
}

.aboutBajaRow .grid_4{
   line-height: 20px;
   margin-bottom: 20px;
}

.aboutBajaRowPics .library{
   width: 150px;
   margin: 0px 70px;
}

.aboutBajaRowPics .cog{
   width: 150px;
   margin: 0px 100px;
}

.aboutBajaRowPics .speedometer{
   width: 150px;
   margin: 0px 70px;
}

.aboutSection .description{
   margin-bottom: 20px;
}
/*////////////////////////////////////////moreInfoSection///////////////////////////////*/

.moreInfoSection a{
   text-decoration: none;
   color: white;
}

.updatesBanner,
.teamBanner,
.contactBanner{
   background-color: rgba(26,3,21,0.85);
   color: white;
   position: absolute;
}

.moreInfoSection .updatesBanner{
   top: 25%;
   right: 0%;
   padding: 2px 0px 2px 30px;
}

.moreInfoSection .teamBanner{
   top: 37%;
   right: 0%;
   padding: 2px 0px 2px 30px;
}

.moreInfoSection .contactBanner{
   top: 49%;
   right: 0%;
   padding: 2px 0px 2px 30px;
}

/*////////////////////////////////////////teamIntro///////////////////////////////*/

.tandonTeamBanner,
.tandonTeamDesc{
   position: absolute;
   left: 18%;
   color: white;
   padding: 10px;
}

.tandonTeamBanner{
   text-align: center;
   top: 30%;
}

.tandonTeamDesc{
   top: 40%;
}

.teamFounders,
.teamMembers{
   width: 100%;
   color: white;
   background-color: #6e3667;
   padding-bottom: 30px;
}

.teamFoundersTitle{
   color: #88d317;
   text-align: center;
}

.teamFounders h2{
   color: #88d317;
}

.teamMembers{
   margin: 0px;
}

.teamMembers h2{
   margin: 0px;
   color: #88d317;
   text-align: center;
}

.teamMembers figure{
   margin: 20px 45px;
}

.teamMembers figcaption{
   text-align: center;
}

.teamMembers figcaption h3{
   color: #88d317;
}

/*////////////////////////////////////////contact///////////////////////////////*/

#googleMap{
   width: 100%;
   height: 580px;
}

.contactForm{
   position: absolute;
   top: 18%;
   left: 60%;
   background-color: rgba(26,3,21,0.85);
   color: #88d317;
   padding: 10px;
   border-radius: 10px;
}

.contactForm .grid_1{
   margin-top: 4px;
}

.contactForm textarea{
   margin-top: 7px;
   margin-left: 10px;
}

.contactForm button{
   background-color: #88d317;   
   margin-top: 10px;
   margin-left: 242px;
   border: 0px;
   border-radius: 5px;
   padding: 5px;
}

.socialMediaBtns,
.contactForm{   
   /*h-shadow v-shadow | blur spread color*/
   -webkit-box-shadow: 5px 5px 5px 5px rgba(10,10,10,0.3);
   -moz-box-shadow: 5px 5px 5px 5px rgba(10,10,10,0.3);
   box-shadow: 5px 5px 5px 5px rgba(10,10,10,0.3);
}

.socialMediaBtns{
   background-color: rgba(26,3,21,0.85);
   position: absolute;
   top: 35%;
   right: 7%;
   border-radius: 10px;
}

.socialMediaBtns img{
   width: 48px;
   padding: 5px;
}

/*////////////////////////////////////////footer///////////////////////////////*/

footer p{
   margin: 0px;
   padding: 10px 30px;
   text-align: left;
   background-color: rgba(26,3,21,0.85);
   color: #88d317;
}

/*////////////////////////////////////////hovers///////////////////////////////*/

header nav a:hover{   
   background-color: rgb(110,54,103);
   color: #88d317;
}

.designBanner:hover,
.buildBanner:hover,
.competeBanner:hover,
.updatesBanner:hover,
.teamBanner:hover,
.contactBanner:hover{
   color: #88d317;
   transform: scale(1.05);
}

.updatesBanner a:hover,
.teamBanner a:hover,
.contactBanner a:hover{
   color: #88d317;
}

.contactForm button:hover{
   transform: scale(1.1);
}

/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
	.container{
		/*background-color: rgba(255, 0, 0, 0.5)*/
	}
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.container{
		/*background-color: rgba(0, 255, 0, 0.5)*/
	}
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container{
		/*background-color: rgba(0, 0, 255, 0.5)*/
	}
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	.container{
		/*background-color: rgba(255, 255, 0, 0.5)*/
	}
}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }