
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */
*{
   margin: 0;
   padding: 0;   
}

body{
   font-family: "Helvetica", Arial, sans-serif;
}

/*////////////////////////////////////////header and nav//////////////////////////////*/

header{
   width: 100%;
   background-color: rgba(26,3,21,0.85);
   position: fixed;
   z-index: 10;
   height: 70px;
   line-height: 70px;
}

header img{
   margin-left: 10px;
   width: 300px;
}

header nav{
   float: right;
}

header nav ul{
   margin: 0;
   padding: 0;
   display: block;
}

header nav ul li{
   display: inline-block;
}

header nav ul li a{
   text-decoration: none;
   color: white;
   list-style-type: none;
   line-height: 70px;
   display: block;
   padding: 0px 20px;
   font-size: 1.2em;
}

/*////////////////////////////////////////intro section//////////////////////////////*/

div.introSection{
   width: 100%;
   position: relative;
}

.introSection img{
   width: 100%;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
   display: inline;
   float: left;
   margin: 5px;
   padding: 0;
   text-align: left;
}

.design,
.build,
.compete,
.this,
.motorsports{
   background-color: rgba(26,3,21,0.85);
   color: white;
   position: absolute;
}

.introSection .design{
   top: 25%;
   right: 0%;
   padding: 2px 0px 2px 30px;
}

.introSection .build{
   top: 37%;
   right: 0%;
   padding: 2px 0px 2px 30px;
}

.introSection .compete{
   top: 49%;
   right: 0%;
   padding: 2px 0px 2px 30px;
}

.introSection .this{
   top: 70%;
   padding: 5px 0px 5px 30px;
}

.introSection .motorsports{
   top: 80%;
   color: #88d317;
   padding: 5px 0px 5px 30px;
}

/*////////////////////////////////////////storySection/////////////////////////*/

.ourStorySection{
   background-color: rgba(26,3,21,0.85);
   color: white;
   line-height: 40px;
   width: 100%;
}

.ourStorySection h3, h4{
   margin: 0px;
}

.ourStorySection h3{
   text-align: center;
   font-size: 1.5em;
}

.ourStorySection h4{
   padding: 20px 150px;
}

.strong{
   color: #88d317;
}
/*////////////////////////////////////////aboutSection///////////////////////////////*/

.aboutSection{
   background-color: #6e3667;
   color: white;
   line-height: 40px;
   width: 100%;
}

.aboutSection img{
   width: 100%;
}

.aboutSection h1{
   margin: 20px auto;
}

.aboutBajaRow .grid_4{
   line-height: 20px;
   margin-bottom: 20px;
}

.aboutBajaRowPics .library{
   width: 150px;
   margin: 0px 70px;
}

.aboutBajaRowPics .cog{
   width: 150px;
   margin: 0px 100px;
}

.aboutBajaRowPics .speedometer{
   width: 150px;
   margin: 0px 70px;
}

.aboutSection .description{
   margin-bottom: 20px;
}

/*////////////////////////////////////////hover///////////////////////////////*/

header nav a:hover{   
   background-color: rgb(110,54,103);
   color: #88d317;
}

.design:hover,
.build:hover,
.compete:hover{
   color: #88d317;
   transform: scale(1.05);
}

/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
	.container{
		background-color: rgba(255, 0, 0, 0.5)
	}
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	.container{
		background-color: rgba(0, 255, 0, 0.5)
	}
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container{
		background-color: rgba(0, 0, 255, 0.5)
	}
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
	.container{
		background-color: rgba(255, 255, 0, 0.5)
	}
}


/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
/* i understand that you're very stressed but take that stress and turn it something into positive 
and productive.  and during those breaks, do something fun and reward yourself*/